# Fichier de configuration
includes/config.php
includes/autopub*.php
includes/automatisations/autopub*.php
.env

# Fichiers RSS (sert à automatiser la création d'articles)
/rss/

# Fichiers contenants les images etc de la page Plugin, ou zip
_others/
_pluginv0.1.zip
_pluginv0.zip
*.zip

# Fichiers contenant le module admin
admin/

# Fichiers contenant les fichiers cache
cache/

# Ignorer les fichiers uploadés
projets/uploads/projects/
projets/assets/fontawesome/
assets/fontawesome/

# Ne pas ignorer les fichiers spécifiques
!uploads/.htaccess
!uploads/*.php

# Fichier Google & plugin
googledc3aeeb7e638e301.html
_plugin/_save/

# Système d'exploitation
.DS_Store
Thumbs.db