Options +FollowSymLinks -MultiViews
RewriteEngine On


RewriteBase /
# Forcer HTTPS pour le domaine et tous les sous domaines
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

# Rediriger uniquement extrag.one vers www.extrag.one
RewriteCond %{HTTP_HOST} ^extrag\.one$ [NC]
RewriteRule ^(.*)$ https://www.extrag.one/$1 [L,R=301]

RewriteRule ^outils$ 					outils.php [L]
RewriteRule ^outils/categorie/(.*)		outils.php?categorie=$1 [L]
RewriteRule ^outil/(.*)$ 				outil.php?nom=$1 [L]
RewriteRule ^ajouter					ajouter.php [L]
RewriteRule ^categories$				categories.php [L]
RewriteRule ^admin$						admin/dashboard.php [L]
RewriteRule ^admin/$					admin/dashboard.php [L]
RewriteRule ^contact$					contact.php [L]
RewriteRule ^a-propos$                  a-propos.php [L]

# Connexion centralisée
RewriteRule ^connexion$ connexion.php [L]
RewriteRule ^deconnexion$ deconnexion.php [L]
RewriteRule ^membre/(.*)$    profile.php?username=$1 [L]
RewriteRule ^reglages$       reglages.php [L]

RewriteRule ^article/(.*)$				article.php?slug=$1 [L]
RewriteRule ^articles$					articles.php [L]

# Alternative française dynamique
RewriteRule ^alternative-francaise-(.*)$ alternative-francaise.php?outil=$1 [L]

RewriteRule ^nomi$ nomi/index.php [L]
RewriteRule ^nomi/(.*)$ nomi/$1 [L]

# === Résoudre le CORS  ===
<IfModule mod_headers.c>
    <FilesMatch "\.(woff2?|ttf|otf|eot|svg|png|jpg|jpeg|gif|webp)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>

# Bloque l'accès direct à tous les fichiers .env et aux fichiers sensibles
<Files ".env*">
    Order allow,deny
    Deny from all
</Files>

<Files "~ \.(env(\.|\.production|\.staging|\.test)*$">
    Order allow,deny
    Deny from all
</Files>

# Option alternative plus moderne (Apache 2.4+)
<FilesMatch "^\.env">
    Require all denied
</FilesMatch>

<FilesMatch "\.env(\w+)?$">
    # Bloque aussi .env.old, .env.backup, etc.
    Require all denied
</FilesMatch>