Options +FollowSymLinks -MultiViews
RewriteEngine On

# Forcer HTTPS et www en une seule redirection
RewriteBase /
RewriteCond %{HTTP_HOST} !^nomi\.extrag\.one$ [NC]
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.extrag.one/$1 [L,R=301]

RewriteRule ^outils$ 					outils.php [L]
RewriteRule ^outils/categorie/(.*)		outils.php?categorie=$1 [L]
RewriteRule ^outil/(.*)$ 				outil.php?nom=$1 [L]
RewriteRule ^ajouter					ajouter.php [L]
RewriteRule ^categories$				categories.php [L]
RewriteRule ^admin$						admin/dashboard.php [L]
RewriteRule ^admin/$					admin/dashboard.php [L]
RewriteRule ^contact$					contact.php [L]

RewriteRule ^article/(.*)$				article.php?slug=$1 [L]
RewriteRule ^articles$					articles.php [L]

RewriteRule ^nomi$ nomi/index.php [L]
RewriteRule ^nomi/(.*)$ nomi/$1 [L]